*{
    padding: 0;
    margin: 0;
}
.container{
    width: 90vw;
    height: 90vh;
}
.flashcard {
  background: #ffcc66;
  color: #1a1a40;
  border: 2px solid #ff9933;
  border-radius: 16px;
  padding: 10px 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  height: 20vh;
  width: 20vw;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.buttons{
  display: flex;
  justify-content: space-between;
 margin-top: auto;
}

.buttons button{
  height: 4vh;
  width: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}