/* .container {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333; 
    color: white; 
    font-family: Arial; sans-serif; 
}
.flash {
    font-size: 18px; 
    cursor: pointer; 
    transition: color 0.3s; 
}

.flash:hover {
    color: #ffcc00;
}

.logout {
    font-size: 16px; 
    cursor: pointer; 
    transition: color 0.3s; 
}

.logout:hover {
    color: #ffcc00; 
} */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #2c3e50;
    color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

.homeBtn {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
    background-color: #3498db;
    border: none;
    color: white;
    width: 6vw;
}

.profileBtn {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
    background-color: #2ecc71;
    border: none;
    color: white;
     width: 8vw;
}

.Navbar_logoutBtn {
    padding: 0.5rem 1rem;
    background-color: #e74c3c !important;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
    width: 6vw;
}
