*{
    padding: 0;
    margin: 0;
       box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}
.containe{
   display: flex;
    align-items: center;
     flex-direction: column;
    height: 70vh;
    width: 25vw;
    border: 1px solid black;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    border: 2px solid #ff9933;
    border-radius: 15px;
    align-items: center;
    color: black;
    background-color: #c7b8b8;
}

.head{
    margin-top: 5px;
}
.user, .fn, .gmail, .pass{
    display: flex;
    width: 23vw;
    justify-content: space-between;
    margin-bottom: 5px;
}
h3 {
    flex: 1;
    margin-right: 10px;
}
input {
    flex: 2; 
}

 .sub{
    display: flex;
    width: 23vw;
    justify-content:center;
    margin-bottom: 5px;
    margin-top: 20px;
    height: 4vh;
}

.reg_button{
    width: 22vw;
    background-color: green;
    font-size: 1rem;
    font-weight: 900;
    cursor: pointer;
    border-radius: 5px;
}

.log {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px; 
  margin-top: 1rem; 
}

.login-link {
  text-decoration: none; 
  font-weight: 500;
  color: rgb(4, 4, 87);
}

.login-link:hover {
    cursor: pointer;
}
